{% extends 'base.html.twig' %}

{% block title %}Edit Registro{% endblock %}

{% block body %}
    <h1>Edit Registro</h1>

    {{ include('registro/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('registro_index') }}">back to list</a>

    {{ include('registro/_delete_form.html.twig') }}
{% endblock %}


{% block javascripts %}
<script src="{{ asset('js/symfony-collection/jquery.collection.js') }}"></script>
<script type="text/javascript">
    $('.administrador-collection').collection({
        custom_add_location: true,
        up: false,
        down: false,
        remove: '<a href="#" class="btn btn-danger"><span class="fa fa-trash"></span></a>',
        after_add: function(){
            $('[data-prototype]').find('.cliente').select2({
                language: 'es',
                theme: "bootstrap",
                width : '100%'
            });
        }
    });
</script>
{% endblock %}